.about__text {
    width: 850px;
    margin: 50px 0 50px 80px;
    font-size: 18px;
    font-stretch: semi-condensed;
    line-height: 1.5;
}

.about__text p {
    margin-bottom: 15px;
}

.about__logo {
    padding-top: 110px;
}

.about__logo-pic {
    margin-right: 50px;
    filter: grayscale(30%); 
    margin-left: 50px;
}